# SPDX-FileCopyrightText: 2025 Lukas Zirpel <thesis+lukas@zirpel.de>
# SPDX-License-Identifier: CC0-1.0

[submodule "report/rfc.bib"]
	path = PDF/rfc.bib
	url = https://github.com/Luflosi/rfc.bib.git
